
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Welcome back to Admin Portal !!!</h1>
<head>
    <style>
        body {
            background-color:lightblue
        }
    </style>
</head>