@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1  style="font:large">Welcome</h1>
    <br />
    <br />
  
    <h5 style="color:palevioletred">The beautiful thing about learning is that nobody can take it away from you!!! </h5>
</div>
