@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}




@{

    var userId = Context.Session.GetString("userId");
    if (userId == null)
    {
        // Context.Response.Redirect("/Account");

    }
}
<h1 style="color:brown">Welcome Back @userId !!!</h1>